.checkbox {
  position: relative;
  &__body {
    input[type="checkbox"] {
      opacity: 0;
      appearance: none;
      position: absolute;
    }
    .box_icon {
      vertical-align: bottom;
      display: inline-block;
      content: "";
      width: 1.1em;
      height: 1.1em;
      border: 2px solid #ccc;
      border-radius: 4px;
      margin-right: 0.3rem;
    }
    .checked_icon {
      vertical-align: bottom;
      display: inline-block;
      content: "";
      width: 1.1em;
      height: 1.1em;
      border: 1px solid #ccc;
      background-color: #3798DC;
      border-radius: 4px;
      margin-right: 0.3rem;
      position: relative;
      &::before {
        position: absolute;
        top: 0;
        bottom: -0.2em;
        right: 0;
        left: 0;
        margin: auto;
        padding: 0;
        content: '';
        width: 0.4em;
        height: 0.65em;
        border-bottom: 0.18em solid #FFF;
        border-right: 0.18em solid #FFF;
        transform: translateY(-25%) rotate(45deg);
      }
    }
  }
}
